#language-switch {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    line-height: 1.1;
}

#select {
    height: 100%;
    width: 100%;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    user-select: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: border-radius 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#select:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
}

#options {
    position: absolute;
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-size: 1.75em;
    text-align: center;
    border-top: 1px var(--info-500) solid;
}

#options span {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#options span:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#options span:last-child {
    border-radius: 0 0 0.25em 0.25em;
}